/docs/
/tmp/
node_modules/
npm-debug.log
.DS_Store
/dist/
/packages/backbrace-core/dist/
/packages/backbrace-sample-app/dist/
/packages/backbrace-docs/dist/
/packages/backbrace-devkit/typings/types.d.ts
/packages/backbrace-devkit/schema/icons.json
/packages/backbrace-devkit/schema/pagedesign.json
/packages/backbrace-devkit/schema/tabledesign.json
/packages/backbrace-devkit/tern/defs/backbrace.json
/packages/backbrace-docs/src/design/data/members.json
/packages/backbrace-docs/src/design/data/modules.json
/packages/backbrace-docs/src/design/data/tutorials.json
