body {
  overflow-y: auto !important;
}
bb-app .bb-main {
  margin-top: 64px;
}
bb-header nav {
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
}
bb-header .bb-nav-inner {
  height: 64px;
}
bb-header .bb-nav-inner a {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  padding: 8px 16px;
}
bb-header .bb-nav-inner a:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}
a {
  color: #3498db;
  cursor: pointer;
}
ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
}

p.desc {
  margin-top: 35px;
}

h1 {
  font-size: 2em;
  line-height: 110%;
  margin: 8px 0;
}
h4 {
  font-size: 1.5em;
  margin-top: 20px;
}
h5 {
  font-size: 1.3em;
  margin-top: 20px;
}
docs-api {
  width: 100%;
  margin-top: 20px;
}
docs-guide {
  width: 100%;
}
docs-components {
  width: 100%;
}
docs-component-title {
  margin-top: 20px;
  width: 100%;
}
bb-template[name="footer"] {
  width: 100vw;
}
footer {
  position: absolute;
  line-height: 24px;
  flex: 1;
  padding: 48px;
  z-index: 0;
  background-color: #95afc0;
  color: #fafafa;
  font-weight: 300;
  margin: 100px 0 24px 0;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
}
footer p {
  text-align: center;
  margin: 10px 0 5px;
}
bb-header .header-link {
  width: auto;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  line-height: 44px;
  box-sizing: border-box;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  background-color: #2d3436;
  color: #fff;
}
.banner-text {
  color: #fff;
  font-size: 2em;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-weight: 300;
  min-height: 200px;
}
.banner-img {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.main-title {
  color: #0984e3;
  font-size: 1.5em;
}
.main-text {
  margin: 20px 0;
}
.footer-block {
  margin: 0 40px 40px 0;
}
.footer-block h1 {
  font-size: 1em;
}
.footer-block a {
  font-weight: 100;
  font-size: 0.9em;
  text-decoration: none;
  color: #fff;
}
footer .grid-fluid {
  justify-content: center;
  display: flex;
}
.mobile-app footer .grid-fluid {
  display: block;
}
.ovr-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ovr-link:hover {
  text-decoration: underline;
}
.heading-link {
  color: #999;
  margin-left: 5px;
}
.heading-link:hover {
  color: #333;
}
.suggest-link {
  float: right;
  margin-right: 5px;
  font-size: 24px;
}
.suggest-link:hover {
  background: whitesmoke;
}
.components {
  margin-top: 10px;
}
.api-heading {
  font-size: 2em;
  line-height: 110%;
  margin: 8px 0;
  display: inline-block;
}
.api-type,
.comp-type {
  padding: 5px;
  color: #fff;
  border-radius: 4px;
  margin-left: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.api-type a,
.comp-type a {
  color: #fff;
}

.api-type.module,
.comp-type.base {
  background: #9b59b6;
}
.api-type.typedef,
.comp-type.section {
  background: #3498db;
}
.api-type.class,
.comp-type.field {
  background: #2ecc71;
}
.api-body .desc {
  margin: 16px 0 0 10px;
}
.method-table {
  width: 100%;
  margin-top: 20px;
}
table.method-table thead > tr > th {
  padding: 10px;
  background: #f6f8fa;
  border-bottom: 1px solid #dbdbdb;
  font-size: 1.2em;
  text-align: left;
}
td.desc {
  padding: 10px;
}
.desc > p {
  margin-top: 5px;
}
hr.rows {
  border: 0.5px solid gainsboro;
  margin: 50px;
}
code {
  font-size: 85%;
  line-height: 1.45;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}
pre {
  background: rgba(241, 241, 241, 0.5);
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  white-space: pre-wrap;
}
pre.source {
  margin-top: 10px;
  background-color: #34495e;
  border-radius: 3px;
  font-size: 100%;
  line-height: unset;
  overflow: auto;
  padding: 10px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}
.source.overview {
  font-size: 85%;
  background: #f6f8fa;
  line-height: 1.45;
}
.source.example {
  font-size: 95%;
}
.sig .source {
  background: #fff;
  margin-top: 0;
}

.copy-source {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.start-button {
  background: #fff;
  color: #000;
  font-weight: 400;
  margin-top: 20px !important;
  font-size: 20px !important;
  padding: 11px 20px !important;
  height: auto !important;
  width: auto !important;
}

hr {
  margin: 50px 0 30px;
  border: none;
  border-bottom: 1px solid #ececec;
}
