body {
  overflow-y: auto !important;
}
.navbar-inner {
  height: 64px;
}
.navbar {
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
}
.navbar-brand {
  float: left;
  margin: 12px 80px 0 20px;
}
.navbar-logo {
  max-height: 40px;
}
.navbar-inner a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
}
.navbar-inner a:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}
.mobile-app .navbar-logo {
  margin-top: 7px;
}
.menu-icon {
  cursor: pointer;
  float: left;
  width: 64px;
  height: 64px;
  font-size: 35px;
  max-height: 64px;
  box-sizing: border-box;
  text-align: center;
  padding: 12px;
}
.main {
  margin-top: 64px;
}
.viewer {
  margin-top: 20px;
}
a {
  color: #3498db;
}
.mobile-app .viewer {
  padding-left: 10px;
  padding-right: 10px;
  height: unset;
  overflow-y: unset;
}

ul {
  list-style-type: disc;
}

li {
  padding-bottom: 8px;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
  letter-spacing: 0.3px;
}

p.desc {
  margin-top: 35px;
}

h1 {
  font-size: 2em;
  line-height: 110%;
  margin: 8px 0;
}
h4 {
  font-size: 1.5em;
  margin-top: 20px;
}
h5 {
  margin: 0;
  font-size: 1.1em;
}
footer {
  position: absolute;
  line-height: 24px;
  flex: 1;
  padding: 48px;
  z-index: 0;
  background-color: #3498db;
  color: #fafafa;
  font-weight: 300;
  margin: 100px 0 24px 0;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
}
footer p {
  text-align: center;
  margin: 10px 0 5px;
}
.header-link {
  width: auto;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  box-sizing: border-box;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  background-color: #34495e;
  color: #fff;
}
.banner-text {
  color: #fff;
  font-size: 1.8em;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.banner-img {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title {
  color: #0984e3;
  text-transform: uppercase;
  font-size: 1.5em;
}
.main-text {
  margin: 20px 0;
}
.footer-block {
  margin: 0 40px 40px 0;
}
.footer-block h1 {
  text-transform: uppercase;
  font-size: 1em;
}
.footer-block a {
  font-weight: 100;
  font-size: 0.9em;
  text-decoration: none;
  color: #fff;
}
footer .grid-fluid {
  justify-content: center;
  display: flex;
}
.mobile-app footer .grid-fluid {
  display: block;
}
.ovr-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ovr-link:hover {
  text-decoration: underline;
}
.heading-link {
  color: #999;
  margin-left: 5px;
}
.heading-link:hover {
  color: #333;
}
.suggest-link {
  color: #3498db;
  font-size: 20px;
  float: right;
  margin-right: 5px;
}
.suggest-link:hover {
  color: #666;
  background: whitesmoke;
}
.api-heading {
  font-size: 2em;
  line-height: 110%;
  margin: 8px 0;
  display: inline-block;
}
.api-type {
  padding: 5px;
  color: #fff;
  border-radius: 4px;
  margin-left: 20px;
  text-transform: uppercase;
}
.api-type a {
  color: #fff;
}

.api-type.module {
  background: #9b59b6;
}
.api-type.typedef {
  background: #3498db;
}
.api-type.class {
  background: #2ecc71;
}
.api-body .desc {
  margin: 16px 0 0 10px;
}
.method-table {
  width: 100%;
  margin-top: 20px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
table thead > tr > th {
  padding: 10px;
  background: #f6f8fa;
  border-bottom: 1px solid #dbdbdb;
  font-size: 1.2em;
  text-align: left;
}
td.desc {
  padding: 10px;
}
.desc > p {
  margin-top: 5px;
}
hr.rows {
  border: 0.5px solid gainsboro;
  margin: 50px;
}
code {
  font-size: 85%;
  line-height: 1.45;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}
pre {
  background: rgba(241, 241, 241, 0.5);
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
}
pre.source {
  margin-top: 10px;
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 100%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}
.source.overview {
  font-size: 85%;
}
.source.example {
  font-size: 95%;
}
.sig .source {
  background: #fff;
  margin-top: 0;
}

.copy-source {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.docs-card {
  height: 220px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.docs-card:hover {
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.file-header {
  text-transform: none !important;
  font-weight: 300 !important;
  font-size: 15px !important;
}

/*

Google Code style (c) Aahan Krish <geekpanth3r@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: transparent;
  color: black;
}

.hljs-comment,
.hljs-quote {
  color: #800;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-title,
.hljs-name {
  color: #008;
}

.hljs-variable,
.hljs-template-variable {
  color: #660;
}

.hljs-string,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-regexp {
  color: #080;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-meta,
.hljs-number,
.hljs-link {
  color: #066;
}

.hljs-title,
.hljs-doctag,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #606;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
