@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cuttext {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.fixed {
  position: fixed;
}

.no-border {
  border: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.shape-circle {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-spacing: 0px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 640px) {
  .hide-small {
    display: none !important;
  }
}
