html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
@media only screen and (max-width: 993px) {
  body {
    margin: 0;
    overflow-x: visible;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 14.5px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 4.2em;
  line-height: 110%;
  margin: 2.1em 0 1.68em 0;
}
h2 {
  font-size: 3.56em;
  line-height: 110%;
  margin: 1.78em 0 1.424em 0;
}
h3 {
  font-size: 2.92em;
  line-height: 110%;
  margin: 1.46em 0 1.168em 0;
}
h4 {
  font-size: 2.28em;
  line-height: 110%;
  margin: 1.14em 0 0.912em 0;
}
h5 {
  font-size: 1.2em;
  line-height: 110%;
  margin: 0.82em 0 0.656em 0;
}
h6 {
  font-size: 1em;
  line-height: 110%;
  margin: 0.5em 0 0.4em 0;
}
.z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.header {
  display: block;
}
.navbar {
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 3000;
}
.navbar-inner {
  height: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-brand {
  float: left;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 32px;
  margin: 8px 80px 0 8px;
}
.navbar-logo {
  max-height: 35px;
}
.mobile-app .navbar-logo {
  margin-top: 7px;
}
.profile-img {
  display: none;
  margin: 5px;
  float: right;
  width: 40px;
  height: 40px;
}
.menu-icon {
  cursor: pointer;
  float: left;
  width: 50px;
  height: 50px;
  font-size: 35px;
  max-height: 50px;
  text-align: center;
  padding: 8px;
}
.menu {
  display: none;
  position: fixed;
  top: 0px;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #fff;
  z-index: 30001;
}
.menu-brand {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.menu-logo {
  max-height: 40px;
}
.circle-img {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-spacing: 0px;
}
.main {
  margin-top: 50px;
  padding-top: 5px;
}
.main-windows {
  width: 100%;
  display: inline-block;
  padding-left: 3px;
  border-bottom: 1px solid #ecf0f1;
}
.viewer-full {
  left: 100vw;
  top: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.mobile-app .viewer {
  height: calc(100vh - 110px);
  overflow-y: auto;
}
.status-title {
  font-size: 3.5em;
  font-weight: 800;
  margin: 1em 0 0.5em 0;
  color: #666;
}
.status-description {
  font-size: 2em;
  margin: 0 0 1em;
  color: #666;
}
.status-code {
  font-size: 1.2em;
  font-weight: 500;
  color: #666;
}
.window {
  position: relative;
  padding: 16px !important;
  border-radius: 3px;
}
.desktop-app .window {
  margin-top: 20px;
  height: 100%;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30001;
}
.title-bar {
  padding: 0 10px;
  position: relative;
}
.title {
  display: inline-block;
}
.title-icon {
  float: right;
  padding: 5px;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0.6;
}
.title-icon:hover {
  opacity: 0.8;
}

// Based off MD Tab
.main-windows-btn {
  font-size: 14px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  height: 48px;
  padding: 16px 14px;
}

.mobile-app .actions-bar {
  position: fixed;
  bottom: 0px;
  left: 0px !important;
  width: 100vw;
  height: auto;
  z-index: 29001;
}
.action-button {
  display: inline-block;
  font-size: 14px;
  padding: 11px 8px;
  height: 36px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
}
.desktop-app .action-button {
  font-weight: 400;
}
.mobile-app .action-button {
  padding: 0.7em 0.8em;
  font-size: 0.9em;
  margin: 0;
  text-align: center;
  width: 25vw;
  line-height: 1.7em;
  border-width: 0px;
  height: 60px;
}
.mobile-app .action-icon {
  display: block;
  font-size: 1.2em;
}
.window-height-auto {
  height: auto;
}
.window-height-full {
  min-height: 300px;
  height: 100%;
}
.window-height-block {
  max-height: 300px;
  height: 300px;
}
.window-height-half {
  min-height: 200px;
  height: 50%;
}
.main-container {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.mobile-app .main-container {
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
}
.main-container.pad {
  margin-top: 50px;
}
.side-container {
  display: none;
  width: 30%;
  vertical-align: top;
}
.control-container {
  width: 100%;
  font-size: 1em;
}
.control-label {
  display: block;
  opacity: 0.6;
  font-weight: 400;
  margin-top: 1.1em;
  font-size: 0.9em;
}
.control-input {
  display: block;
  background-color: transparent;
  opacity: 0.8;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  width: 100%;
  height: 3em;
  padding: 0;
  font-size: 0.9em;
  line-height: inherit;
  margin: 0 0 8px 0;
}
.list-component .control-input {
  height: 2em;
}
.grid-container {
  width: 100%;
  overflow: auto;
  border-top: 1px solid #ccc;
}
.row-id {
  font-size: 0px !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 30000;
}

[class*="col-"] {
  margin: 1em 0;
}
.control-container {
  margin: 0;
}

.ace_editor {
  border: 1px solid lightgray;
  margin: 20px;
  height: 500px;
  width: calc(100% - 40px);
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
.ui-widget {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
}
.ui-widget.ui-widget-content {
  border: 0;
}
.ui-widget-content {
  border: 0;
}
.sweet-alert {
  font-family: inherit !important;
}
.ui-jqgrid {
  border: 0;
}
.ui-jqgrid tr.jqgrow td {
  vertical-align: middle;
  font-size: 1.2em;
  padding: 0.4em !important;
}
.ui-jqgrid .ui-jqgrid-htable th div {
  font-size: 1.3em;
  font-weight: bold;
  opacity: 0.6;
  padding: 0.2em;
  height: 1.6em !important;
  text-align: left;
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column,
.ui-th-column {
  background: #fff;
}
.ui-jqgrid-hdiv {
  background: #fff !important;
}
.ui-jqgrid tr.ui-row-ltr td {
  border-right-color: #ccc !important;
}
.ui-jqgrid tr.jqfoot td,
.ui-jqgrid tr.jqgroup td,
.ui-jqgrid tr.jqgrow td {
  border-bottom-color: #ccc !important;
}
