//Actions component.

.mobile-app .actions-bar {
  position: fixed;
  bottom: 0px;
  left: 0px !important;
  width: 100vw;
  height: auto;
  z-index: 29001;
}

.action-button {
  display: inline-block;
  font-size: 14px;
  padding: 11px 8px;
  height: 36px;
  cursor: pointer;
  border-radius: 3px;
}

.desktop-app .action-button {
  font-weight: 400;
}

.mobile-app .action-button {
  padding: 0.7em 0.8em;
  font-size: 0.9em;
  margin: 0;
  text-align: center;
  width: 25vw;
  line-height: 1.7em;
  border-width: 0px;
  height: 60px;
}

.mobile-app .action-icon {
  display: block;
  font-size: 1.2em;
}
