.bb-button {
    color: var(--text-primary);
    background: var(--bg-primary);
    font-size: 0.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0 16px 0 16px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: visible;
    vertical-align: middle;
    height: 36px;
    border-radius: 4px;
    will-change: transform, opacity;
    cursor: pointer;
}

.bb-button:hover {
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
