// Container component.

.bb-container {
  background: var(--bg-surface);
  color: var(--text-surface);
  position: relative;
  padding: 16px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  .bb-title-bar {
    padding: 0 10px;
    position: relative;
  }

  .bb-title {
    display: inline-block;
    margin-top: 5px;
  }

  .bb-toolbar-bottom {
    position: absolute;
    bottom: 0;
    padding: 16px;
    left: 0;
    border-top: 1px solid gainsboro;
    width: 100%;
    bb-button {
      margin-left: 5px;
      float: right;
    }
  }
}

.desktop-app .bb-container {
  margin-top: 20px;
  height: 100%;
}
