// Resets and dependencies.
@import "./resets.scss";
@import "./typography.scss";
@import "./progress.scss";
@import "./card.scss";

// Components.
@import "./components/header.scss";
@import "./components/app.scss";
@import "./components/window.scss";
@import "./components/viewer.scss";
@import "./components/actions.scss";
@import "./components/field.scss";
@import "./components/routeerror.scss";

// Section components.
@import "./components/listpage.scss";

// External override.
@import "./ext/jquery.scss";
@import "./ext/jqgrid.scss";
@import "./ext/swal.scss";
@import "./ext/ace.scss";

[class*="col-"] {
  margin: 1em 0;
}

.z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
