// Resets and dependencies.
@import "./resets.scss";
@import "./icons.scss";
@import "./typography.scss";
@import "./alert.scss";
@import "./notify.scss";

// Components.
@import "./components/button.scss";
@import "./components/app.scss";
@import "./components/apptoolbar.scss";
@import "./components/container.scss";
@import "./components/header.scss";
@import "./components/page.scss";
@import "./components/textbox.scss";
@import "./components/template.scss";
@import "./components/datatable.scss";
@import "./components/login.scss";
@import "./components/imagelookup.scss";

// External override.
@import "./ext/swal.scss";

[class*="col-"] {
  margin: 1em 0;
}

.z-depth-1 {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
