h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 4.2em;
  line-height: 110%;
  margin: 2.1em 0 1.68em 0;
}
h2 {
  font-size: 3.56em;
  line-height: 110%;
  margin: 1.78em 0 1.424em 0;
}
h3 {
  font-size: 2.92em;
  line-height: 110%;
  margin: 1.46em 0 1.168em 0;
}
h4 {
  font-size: 2.28em;
  line-height: 110%;
  margin: 1.14em 0 0.912em 0;
}
h5 {
  font-size: 1.2em;
  line-height: 110%;
  margin: 0.82em 0 0.656em 0;
}
h6 {
  font-size: 1em;
  line-height: 110%;
  margin: 0.5em 0 0.4em 0;
}
