.samples-comp {
  margin: 15px;
  line-height: 45px;
  display: inline-block;
  position: relative;
  padding-left: 58px;
  cursor: pointer;
}

.samples-comp-img {
  width: 45px;
  height: 45px;
  position: absolute;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 28px;
  top: 0;
  left: 0;
}

.samples-comp-text {
  line-height: 45px;
  display: inline-block;
}
