.ui-jqgrid {
  border: 0;
}

.ui-jqgrid tr.jqgrow td {
  vertical-align: middle;
  font-size: 1.2em;
  padding: 0.4em !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
  font-size: 1.3em;
  font-weight: bold;
  opacity: 0.6;
  padding: 0.2em;
  height: 1.6em !important;
  text-align: left;
}

.ui-jqgrid .ui-jqgrid-htable th.ui-th-column,
.ui-th-column {
  background: #fff;
}

.ui-jqgrid-hdiv {
  background: #fff !important;
}

.ui-jqgrid tr.ui-row-ltr td {
  border-right-color: #ccc !important;
}

.ui-jqgrid tr.jqfoot td,
.ui-jqgrid tr.jqgroup td,
.ui-jqgrid tr.jqgrow td {
  border-bottom-color: #ccc !important;
}
